In [ ]:
# Look at the README file for more information.
# These are the column names for the documentation provided -
# menopaus, agegrp, density, race, Hispanic, bmi, agefirst, nrelbc, brstproc,
# lastmamm, surgmeno, hrt, invasive, cancer, training, count

# The dataset is aggregated to reduce its size. Repeated observations are aggregated
# and a count column is used to indicate thier frequency.

In [33]:
import pandas as pd
import numpy as np

# Read the data
df = pd.read_csv('risk_rand.txt', delim_whitespace=True, header=None)

df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   0   1   1   1   0   1   0   0   0   0   9   9   0   0   1   3
1   0   1   1   1   0   1   0   0   0   9   9   9   0   0   0   2
2   0   1   1   1   0   1   0   0   0   9   9   9   0   0   1   3
3   0   1   1   1   0   1   1   0   0   0   9   9   0   0   1   1
4   0   1   1   1   0   1   1   0   1   9   9   9   0   0   1   1

In [3]:
df.tail()

        0   1   2   3   4   5   6   7   8   9   10  11  12  13  14   15
181898   9   4   9   9   9   9   9   9   9   1   9   9   0   0   1   31
181899   9   4   9   9   9   9   9   9   9   9   9   9   0   0   0  154
181900   9   4   9   9   9   9   9   9   9   9   9   9   0   0   1  493
181901   9   4   9   9   9   9   9   9   9   9   9   9   1   1   0    1
181902   9   4   9   9   9   9   9   9   9   9   9   9   1   1   1    3

In [4]:
df.shape
# df shape matches the risk_rand.txt input file

(181903, 16)

In [5]:
# add headers to the data from the dataset description provided on the website
df.columns = ["menopaus", "agegrp", "density", "race", "Hispanic","bmi", "agefirst", "nrelbc",
                "brstproc", "lastmamm","surgmeno", "hrt", "invasive", "cancer", "training","frequency"]

In [6]:
df.head()

,menopaus,agegrp,density,race,Hispanic,bmi,agefirst,nrelbc,brstproc,lastmamm,surgmeno,hrt,invasive,cancer,training,frequency
0,0,1,1,1,0,1,0,0,0,0,9,9,0,0,1,3
1,0,1,1,1,0,1,0,0,0,9,9,9,0,0,0,2
2,0,1,1,1,0,1,0,0,0,9,9,9,0,0,1,3
3,0,1,1,1,0,1,1,0,0,0,9,9,0,0,1,1
4,0,1,1,1,0,1,1,0,1,9,9,9,0,0,1,1

In [7]:
df.shape

(181903, 16)

In [21]:
# EXPAND the dataset based on row frequency -
# Repeat the rows based on their frequency of occurence and reset the dataframe index.

df_expanded = df.reindex(df.index.repeat(df.frequency)).reset_index(drop=True)

In [22]:
# sum of the frequency column. This value should be equal to the number of rows of the expanded dataset.
df.frequency.sum()

1007660

In [23]:
#checking if the number of rows in the expanded dataframe is equal to the sum of frquency column in the original dataframe.
df_expanded.shape

(1007660, 16)

In [24]:
# Confirm the index has been reset correctly and the data looks fine.
df_expanded.tail()

,menopaus,agegrp,density,race,Hispanic,bmi,agefirst,nrelbc,brstproc,lastmamm,surgmeno,hrt,invasive,cancer,training,frequency
1007655,9,4,9,9,9,9,9,9,9,9,9,9,0,0,1,493
1007656,9,4,9,9,9,9,9,9,9,9,9,9,1,1,0,1
1007657,9,4,9,9,9,9,9,9,9,9,9,9,1,1,1,3
1007658,9,4,9,9,9,9,9,9,9,9,9,9,1,1,1,3
1007659,9,4,9,9,9,9,9,9,9,9,9,9,1,1,1,3

In [25]:
# drop the frequency column as it is no longer needed
df_expanded.drop('frequency', axis=1, inplace=True)

In [26]:
df_expanded.head()

,menopaus,agegrp,density,race,Hispanic,bmi,agefirst,nrelbc,brstproc,lastmamm,surgmeno,hrt,invasive,cancer,training
0,0,1,1,1,0,1,0,0,0,0,9,9,0,0,1
1,0,1,1,1,0,1,0,0,0,0,9,9,0,0,1
2,0,1,1,1,0,1,0,0,0,0,9,9,0,0,1
3,0,1,1,1,0,1,0,0,0,9,9,9,0,0,0
4,0,1,1,1,0,1,0,0,0,9,9,9,0,0,0

In [28]:
df_expanded.dtypes

menopaus    int64
agegrp      int64
density     int64
race        int64
Hispanic    int64
bmi         int64
agefirst    int64
nrelbc      int64
brstproc    int64
lastmamm    int64
surgmeno    int64
hrt         int64
invasive    int64
cancer      int64
training    int64
dtype: object

In [29]:
# changing datatypes to category
df_expanded = df_expanded.astype('category')
#df_expanded.astype({"menopaus": 'category'})

In [56]:
df_expanded.dtypes

menopaus    category
agegrp      category
density     category
race        category
Hispanic    category
bmi         category
agefirst    category
nrelbc      category
brstproc    category
lastmamm    category
surgmeno    category
hrt         category
invasive    category
cancer      category
training    category
dtype: object

In [47]:
df_expanded.replace(9, np.NaN, inplace=True)

In [58]:
# we can see the value '9' has been replaced by NaN. This is beneficial as we can use pandas inbuilt funtions for nulls.
df_expanded.head()

,menopaus,agegrp,density,race,Hispanic,bmi,agefirst,nrelbc,brstproc,lastmamm,surgmeno,hrt,invasive,cancer,training
0,0,1,1,1,0,1,0,0,0,0,NaN,NaN,0,0,1
1,0,1,1,1,0,1,0,0,0,0,NaN,NaN,0,0,1
2,0,1,1,1,0,1,0,0,0,0,NaN,NaN,0,0,1
3,0,1,1,1,0,1,0,0,0,NaN,NaN,NaN,0,0,0
4,0,1,1,1,0,1,0,0,0,NaN,NaN,NaN,0,0,0

In [60]:
df_expanded.to_csv('bcse_cleaned.csv', index=False)

In [149]:
#get the value counts for each column

# for c in df_expanded.columns:
#     print("---- %s ---" % c)
#     print(df_expanded[c].value_counts())

df_expanded.apply(lambda x: x.value_counts()).T.stack()

menopaus  0      280205.0
          1      638716.0
          9       88739.0
agegrp    1       27391.0
          2      155416.0
          3      175293.0
          4      173804.0
          5      126934.0
          6       98313.0
          7       86354.0
          8       75861.0
          9       56233.0
          10      32061.0
density   1       64160.0
          2      324399.0
          3      282601.0
          4       60362.0
          9      276138.0
race      1      711556.0
          2       43778.0
          3       54563.0
          4       15673.0
          5       10559.0
          9      171531.0
Hispanic  0      727969.0
          1       72334.0
          9      207357.0
bmi       1      209723.0
          2      134971.0
          3       61898.0
          4       34422.0
          9      566646.0
agefirst  0      301079.0
          1       59201.0
          2       81173.0
          9      566207.0
nrelbc    0      727625.0
          1      114471.0
          2        5565.0
          9      159999.0
brstproc  0      735974.0
          1      162634.0
          9      109052.0
lastmamm  0      665244.0
          1       15619.0
          9      326797.0
surgmeno  0      274019.0
          1      165907.0
          9      567734.0
hrt       0      291641.0
          1      250182.0
          9      465837.0
invasive  0     1001766.0
          1        5894.0
cancer    0     1000341.0
          1        7319.0
training  0      251805.0
          1      755855.0
dtype: float64